.main {
  padding: 1rem;
  min-height: 100vh;
  background-color: hsl(0, 0%, 5%);
}

.error {
  padding: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: hsl(355, 95%, 45%);
}
