.details {
  gap: 2rem;
  display: flex;
  padding: 2rem;
  color: white;
  flex-direction: column;
  background-color: hsl(0, 0%, 5%);
}

.topSection {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.poster {
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  flex: 1;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.trailerLink {
  font-size: 1.15rem;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  color: hsl(0, 0%, 5%);
  padding: 0.5rem 0.75rem;
  transition: 0.3s ease-in;
  border: 1px solid hsl(0, 0%, 0%);
  background-color: hsl(355, 95%, 45%);
}

.trailerLink:hover {
  color: white;
  box-shadow: 0 0 20px hsl(355, 95%, 45%, 0.5);
}

.watchTrailerText {
  margin-right: 0.5rem;
}

.rating {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 1.25rem;
  color: hsl(355, 95%, 45%);
}

.description {
  line-height: 1.25;
  margin-top: 0.75rem;
}

.meta p {
  margin-top: 0.75rem;
  color: hsl(0, 0%, 90%);
}

@media (max-width: 768px) {
  .topSection {
    flex-direction: column;
    align-items: center;
  }

  .poster {
    width: 150px;
    margin-bottom: 1rem;
  }

  .info {
    width: 100%;
  }

  .title {
    font-size: 1.75rem;
    text-align: center;
  }

  .trailerLink {
    display: inline-block;
    text-align: center;
  }
}
