.banner {
  width: 100%;
  height: 400px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2rem;
  align-items: flex-end;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}
