@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select,
button,
textarea {
  border: none;
  font: inherit;
  outline: none;
}

svg,
img,
video,
canvas,
picture {
  height: auto;
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 5%);
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}