.filters {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5rem;
  justify-content: center;
}

select {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem;
  min-width: 180px;
  appearance: none;
  text-align: center;
  border-radius: 5px;
  color: hsl(0, 0%, 90%);
  transition: 0.3s ease-in;
  background-color: hsl(0, 0%, 5%);
  border: 1px solid hsl(355, 95%, 45%);
}

select:focus {
  outline: none;
  box-shadow: 0 0 10px hsl(355, 95%, 45%, 0.75);
}

option {
  text-align: center;
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 10%);
}
