@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select,
button,
textarea {
  border: none;
  font: inherit;
  outline: none;
}

svg,
img,
video,
canvas,
picture {
  height: auto;
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 5%);
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

/* MAIN */

main {
  padding: 3rem;
}

main .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 3rem;
  transition: 0.3s;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: hsl(54, 100%, 50%);
}

.heading:hover {
  text-shadow: 0px 0px 20px hsl(54, 100%, 50%);
}

.subheading {
  width: 100%;
  color: white;
  max-width: 800px;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2rem;
}

.formContainer {
  width: 100%;
  padding: 2rem;
  max-width: 800px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 15%);
}

form {
  gap: 1.5rem;
  width: 100%;
  display: flex;
  color: white;
  flex-direction: column;
}

.form-group {
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

.form-floating {
  position: relative;
}

.form-floating > .form-control {
  line-height: 1.25;
  height: calc(3.5rem + 2px);

}

.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  font-weight: 500;
  font-size: 1.25rem;
  color: white;
  opacity: 0.65;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  opacity: 0.8;
  transform: scale(0.85) translateY(-0.6rem) translateX(0.15rem);
  font-weight: 500;
  color: hsl(54, 100%, 50%);
}

.form-floating > .form-control:focus {
  background-color: hsl(0, 0%, 10%);
}

.form-floating > textarea.form-control {
  height: auto;
  min-height: calc(3.5rem + 2px);
  padding-top: 1.625rem;
}

.form-control {
  width: 100%;
  color: white;
  padding: 0.75rem;
  transition: 0.3s;
  border-radius: 5px;
  background-color: hsl(0, 0%, 10%);
  border: 2px solid hsl(54, 100%, 50%);
}

.form-control:focus {
  box-shadow: 0 0 10px hsl(54, 100%, 50%);
  background-color: hsl(0, 0%, 10%) !important;
  color: white;
  border-color: hsl(54, 100%, 50%);
}

.form-control::placeholder {
  color: hsla(0, 0%, 100%, 0.5);
  opacity: 0;
}

.submit-btn {
  color: black;
  margin-top: 1rem;
  transition: 0.3s;
  font-weight: 600;
  padding: 10px 15px;
  font-size: 1.25rem;
  border-radius: 5px;
  background-color: hsl(54, 100%, 50%);
}

.submit-btn:hover {
  transform: translateY(-5px);
  background-color: hsl(54, 100%, 50%);
  box-shadow: 0 0 20px hsl(54, 100%, 50%);
}

@media screen and (max-width: 900px) {
  .formContainer {
    padding: 1.5rem;
  }

  .heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  main {
    padding: 2rem 1rem;
  }

  .heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1rem;
  }

  .formContainer {
    padding: 1rem;
  }

  .form-floating > .form-control {
    padding: 0.6rem;
  }

  .submit-btn {
    width: 100%;
    padding: 0.7rem;
  }
}
