@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* * BUTTONS - Ensures buttons appear clickable */
button {
  cursor: pointer; /* Shows pointer on hover to indicate clickability */
}

/* * LISTS - Removes default bullet styles */
ul,
ol {
  list-style: none; /* Removes default bullet points from unordered and ordered lists */
}

/* * LINKS - Resetting default styles and hover behavior */
a {
  color: inherit; /* Makes link color match surrounding text */
  text-decoration: none; /* Removes underline */
}

/* * FORM ELEMENTS - Normalize font and remove default borders */
input,
select,
button,
textarea {
  border: none; /* Removes default borders */
  font: inherit; /* Inherits font from parent */
  outline: none; /* Removes blue outline */
}

/* * MEDIA - Ensures media doesn’t overflow and stays responsive */
svg,
img,
video,
canvas,
picture {
  height: auto; /* Maintains correct aspect ratio */
  display: block; /* Removes inline spacing below images */
  max-width: 100%; /* Keeps media from overflowing their containers */
}

/* * UNIVERSAL RESET - Applies to all elements and pseudo-elements */
*,
*::before,
*::after {
  margin: 0; /* Remove default spacing */
  padding: 0; /* Remove default spacing */
  box-sizing: border-box; /* Includes padding & border in width and height */
  /* border: 1px solid red; */
}

/* * ROOT ELEMENT - Affects the entire page's scroll behavior and base size */
html {
  height: 100%; /* Needed for percentage-based child heights */
  font-size: 16px; /* Base size 1rem = 16px */
  scroll-behavior: smooth; /* Enables smooth scroll when using anchor links */
  font-family: "Montserrat", sans-serif;
}

/* * BODY - Base font family, and layout behavior */
body {
  display: flex; /* Enables flexbox layout */
  min-height: 100vh; /* Ensures body fills at least full screen */
  overflow-x: hidden; /* Prevents horizontal scroll */
  flex-direction: column; /* Stacks header, main, and footer vertically */
  -moz-osx-font-smoothing: grayscale; /* Better font rendering on macOS Firefox */
  -webkit-font-smoothing: antialiased; /* Better font rendering on WebKit browsers */
  background-color: hsl(0, 0%, 7%);
}

/* * LAYOUT SECTIONS - Ensures key page sections span full width */
header,
main,
footer {
  width: 100%;
}

/* * CONTAINER - Centers content with max width for readability */
.container {
  width: 100%; /* Allows container to be fluid up to max-width */
  margin: 0 auto; /* Horizontally centers container within viewport */
  max-width: 1200px; /* Limits container width to prevent overly wide content on large screens */
}

header {
  color: white;
  padding: 0.75rem;
  margin-bottom: 2.5rem;
  background-color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

header .container {
  display: flex;
  justify-content: space-between;
}

header img {
  height: 40px;
}

nav {
  gap: 2rem;
  display: flex;
  font-weight: 500;
  font-size: 1.2rem;
  align-items: center;
}

nav a:hover {
  text-decoration: underline;
}

main .container {
  /* width: 1200px; */
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

main .container img {
  height: 100px;
  margin-bottom: 1rem;
}

main .container h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: hsl(54, 100%, 50%);
}

.searchBar {
  width: 100%;
  display: flex;
  max-width: 100%;
  margin-bottom: 1rem;
}

.searchBar input {
  flex: 1;
  height: 50px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 20px;
  border-radius: 5px;
}

.searchBar button {
  right: 5px;
  width: 80px;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  border-radius: 0 5px 5px 0;
  background-color: hsl(54, 100%, 50%);
}

.socialLinks {
  gap: 0.5rem;
  display: flex;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2.5rem;
  justify-content: center;
}

.socialLink {
  gap: 0.5rem;
  display: flex;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
}

.facebookSocialLink {
  background-color: #1877f2;
}

.whatsappSocialLink {
  background-color: #25d466;
}

.youtubeSocialLink {
  background-color: #ff0033;
}

.instagramSocialLink {
  background: linear-gradient(45deg, #e4405f, #962fbf, #4f5bd5, #fa7e1e, #feda75);
}

.tiktokSocialLink {
  background: linear-gradient(45deg, #25f4ee, #fe2c55);
}

.telegramSocialLink {
  background-color: #0088cc;
}

.messengerSocialLink {
  background-color: #1876f2;
}

.snapchatSocialLink {
  color: #000000;
  background-color: #fffc00;
}

.redditSocialLink {
  background-color: #ff4500;
}

.xSocialLink {
  background-color: #000000;
}

.viewSiteButton {
  color: black;
  transition: 0.5s;
  font-weight: 600;
  font-size: 1.75rem;
  padding: 1rem 2rem;
  border-radius: 30px;
  margin-bottom: 2.5rem;
  background-color: hsl(54, 100%, 50%);
}

.viewSiteButton:hover {
  scale: 1.25;
  box-shadow: 0 0 15px hsl(54, 100%, 50%);
}

.text p {
  color: white;
  text-align: center;
  margin-bottom: 2.5rem;
}
