main {
  padding: 2rem;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 3rem;
  transition: 0.3s;
  font-weight: 700;
  margin-bottom: 1.25rem;
  color: hsl(54, 100%, 50%);
}

.heading:hover {
  text-shadow: 0px 0px 20px hsl(54, 100%, 50%);
}

.subheading {
  width: 100%;
  color: white;
  font-weight: 600;
  max-width: 700px;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2rem;
}

.formContainer {
  width: 100%;
  padding: 2rem;
  max-width: 700px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 12%);
  box-shadow: 0 0 10px hsl(0, 0%, 100%, 0.5);
}

form {
  gap: 0.75rem;
  display: flex;
  color: white;
  flex-direction: column;
}

.formGroup {
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

.formFloating {
  position: relative;
}

.formFloating > label {
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem;
  color: white;
  font-weight: 500;
  position: absolute;
  font-size: 1.3rem;
  pointer-events: none;
  transform-origin: 0 0;
  border: 1px solid transparent;
  transition: 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.formFloating > .formControl {
  height: auto;
  font-size: 1.25rem;
  padding-left: 1rem;
  padding-top: 1.75rem;
  min-height: calc(3.5rem + 2px);
}

.formFloating > textarea.formControl {
  height: 200px;
  font-size: 1.25rem;
  padding-left: 1rem;
  padding-top: 1.75rem;
  min-height: calc(3.5rem + 2px);
}

.formFloating > .formControl:focus ~ label,
.formFloating > .formControl:not(:placeholder-shown) ~ label {
  opacity: 0.75;
  color: hsl(54, 100%, 50%);
  transform: scale(0.85) translateY(-0.6rem) translateX(0.15rem);
}

.formControl {
  width: 100%;
  color: white;
  padding: 0.5rem;
  transition: 0.3s;
  border-radius: 5px;
  background-color: hsl(0, 0%, 10%);
  border: 1px solid hsl(54, 100%, 50%);
}

.formControl:focus {
  color: white;
  border-color: hsl(54, 100%, 50%);
  background-color: hsl(0, 0%, 10%);
  box-shadow: 0 0 10px hsl(54, 100%, 50%);
}

.formControl::placeholder {
  opacity: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  caret-color: white;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 30px hsl(0, 0%, 10%) inset !important;
}

.submitBtn {
  color: black;
  transition: 0.3s;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  background-color: hsl(54, 100%, 50%);
}

.submitBtn i {
  margin-left: 0.75rem;
}

.submitBtn:hover {
  transform: scaleY(1.1);
  box-shadow: 0 0 15px hsl(54, 100%, 50%);
}

@media screen and (max-width: 900px) {
  .formContainer {
    padding: 1.5rem;
  }

  .heading {
    font-size: 2.5rem;
  }

  .subheading {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .formContainer {
    padding: 1rem;
  }

  .heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1rem;
  }

  .submitBtn:hover {
    transform: scaleY(1.05);
  }
}
