main {
  padding: 2rem;
}

main .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

main img {
  height: 100px;
  margin-bottom: 0.75rem;
}

.title {
  font-size: 3rem;
  transition: 0.3s;
  font-weight: 700;
  margin-bottom: 1.25rem;
  color: hsl(54, 100%, 50%);
}

.title:hover {
  text-shadow: 0px 0px 20px hsl(54, 100%, 50%);
}

.searchBar {
  display: flex;
  min-width: 100%;
  border-radius: 5px;
  margin-bottom: 2rem;
  background-color: white;
}

.searchBar input {
  height: 50px;
  min-width: 90%;
  font-size: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.searchBar button {
  min-width: 10%;
  cursor: pointer;
  font-size: 25px;
  border-radius: 0 5px 5px 0;
  background-color: hsl(54, 100%, 50%);
}

.socialLinks {
  width: 100%;
  gap: 1.02rem;
  display: flex;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center;
}

.socialLink {
  gap: 0.5rem;
  display: flex;
  transition: 0.3s;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.socialLink:hover {
  transform: scaleX(1.1);
}

.facebookSocialLink {
  border: 2px solid #1877f2;
}

.facebookSocialLink:hover {
  box-shadow: 0 0 15px #1877f2;
}

.whatsappSocialLink {
  border: 2px solid #25d466;
}

.whatsappSocialLink:hover {
  box-shadow: 0 0 15px #25d466;
}

.youtubeSocialLink {
  border: 2px solid #ff0033;
}

.youtubeSocialLink:hover {
  box-shadow: 0 0 15px #ff0033;
}

.instagramSocialLink {
  padding: 12px 17px;
  position: relative;
  border-radius: 5px;
  background-clip: padding-box;
  background-origin: border-box;
}

.instagramSocialLink::before {
  inset: 0;
  z-index: -1;
  content: "";
  padding: 2px;
  position: absolute;
  border-radius: 5px;
  background: linear-gradient(135deg, #e4405f, #962fbf, #4f5bd5, #fa7e1e, #feda75);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.instagramSocialLink:hover {
  box-shadow: 0 0 15px #962fbf;
}

.tiktokSocialLink {
  padding: 12px 17px;
  position: relative;
  border-radius: 5px;
  background-clip: padding-box;
  background-origin: border-box;
}

.tiktokSocialLink::before {
  inset: 0;
  z-index: -1;
  content: "";
  padding: 2px;
  position: absolute;
  border-radius: 5px;
  background: linear-gradient(135deg, #fe2c55, #ffffff, #25f4ee);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.tiktokSocialLink:hover {
  box-shadow: 0 0 15px #25f4ee;
}

.telegramSocialLink {
  border: 2px solid #0088cc;
}

.telegramSocialLink:hover {
  box-shadow: 0 0 15px #0088cc;
}

.messengerSocialLink {
  border: 2px solid #1876f2;
}

.messengerSocialLink:hover {
  box-shadow: 0 0 15px #1876f2;
}

.snapchatSocialLink {
  border: 2px solid #fffc00;
}

.snapchatSocialLink:hover {
  box-shadow: 0 0 15px #fffc00;
}

.redditSocialLink {
  border: 2px solid #ff4500;
}

.redditSocialLink:hover {
  box-shadow: 0 0 15px #ff4500;
}

.xSocialLink {
  border: 2px solid #ffffff;
}

.xSocialLink:hover {
  box-shadow: 0 0 15px #ffffff;
}

.goToSiteButton {
  transition: 0.3s;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 30px;
  background-color: hsl(54, 100%, 50%);
}

.goToSiteButton:not(:last-child) {
  margin-bottom: 2rem;
}

.goToSiteButton:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px hsl(54, 100%, 50%);
}

.informationalText,
.reviewText {
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.informationalText {
  margin-bottom: 2rem;
}

.informationalText .heading,
.reviewText .heading {
  font-weight: 600;
  max-width: 1000px;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.informationalText .subheading,
.reviewText .subheading {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.informationalText .text,
.reviewText .text {
  font-size: 1rem;
  max-width: 800px;
  margin-bottom: 2rem;
}
