main {
  padding: 2rem;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.25rem;
  transition: 0.3s ease-in;
  color: hsl(355, 95%, 45%);
}

.heading:hover {
  text-shadow: 0 0 30px hsl(355, 95%, 45%, 0.75);
}

.error {
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 2rem;
  background-color: hsl(355, 95%, 45%, 0.75);
}

.searchBar {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 800px;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  background-color: hsl(0, 0%, 10%);
}

.searchBar input {
  flex: 1;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  padding-left: 16px;
  background-color: hsl(0, 0%, 15%);
}

.searchBar button {
  width: 60px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: hsl(0, 0%, 5%);
  transition: 0.3s ease-in;
  background-color: hsl(355, 95%, 45%);
}

.searchBar button:hover {
  color: white;
}

.movieCards {
  width: 100%;
  gap: 1.25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.emptyState {
  padding: 2rem;
  color: white;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 10px;
  grid-column: 1 / -1;
  background-color: hsl(0, 0%, 10%);
}

@media (max-width: 1200px) {
  .movieCards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .movieCards {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading {
    font-size: 2.25rem;
  }
}

@media (max-width: 600px) {
  .movieCards {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading {
    font-size: 2.25rem;
  }

  .searchBar input {
    font-size: 16px;
  }

  .searchBar button {
    font-size: 18px;
  }
}
