main {
  padding: 2rem;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 3rem;
  transition: 0.3s;
  font-weight: 700;
  margin-bottom: 1.25rem;
  color: hsl(54, 100%, 50%);
}

.heading:hover {
  text-shadow: 0px 0px 20px hsl(54, 100%, 50%);
}

.description {
  font-weight: 600;
  font-size: 1.15rem;
  margin-bottom: 2rem;
}

.termHeading {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.termText:not(:last-child) {
  margin-bottom: 1.5rem;
}
