main {
  padding: 2rem;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  font-size: 3rem;
  transition: 0.3s;
  font-weight: 700;
  margin-bottom: 1.25rem;
  color: hsl(54, 100%, 50%);
}

.heading:hover {
  text-shadow: 0px 0px 20px hsl(54, 100%, 50%);
}

.description {
  font-weight: 600;
  font-size: 1.15rem;
  margin-bottom: 2rem;
}

.termHeading {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.termText:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  main {
    padding: 1.5rem;
  }

  .heading {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .termHeading {
    font-size: 1rem;
  }

  .termText {
    font-size: 0.85rem;
  }

  .termText:not(:last-child) {
    margin-bottom: 1rem;
  }
}
