main {
  padding: 2rem;
  color: white;
  margin: 0 auto;
  max-width: 800px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.25rem;
  transition: 0.3s ease-in;
  color: hsl(355, 95%, 45%);
}

.heading:hover {
  text-shadow: 0 0 30px hsl(355, 95%, 45%, 0.75);
}

.description {
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2rem;
}

.termHeading {
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.termText {
  width: 100%;
  text-align: left;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  main {
    padding: 1.5rem;
  }

  .heading {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .termHeading {
    font-size: 1rem;
  }

  .termText {
    font-size: 0.85rem;
  }

  .termText:not(:last-child) {
    margin-bottom: 1rem;
  }
}
