main {
  padding: 3rem;
}

main .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 3rem;
  transition: 0.3s;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  color: hsl(54, 100%, 50%);
}

.heading:hover {
  text-shadow: 0px 0px 20px hsl(54, 100%, 50%);
}
