.header {
  color: white;
  padding: 1rem 2rem;
  background-color: hsl(0, 0%, 5%);
  box-shadow: 0 0 20px hsla(0, 0%, 100%, 0.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 50px;
}

.logoTitle {
  font-weight: 700;
  font-size: 1.75rem;
  margin-left: 0.75rem;
  color: hsl(355, 95%, 45%);
}

.logoTitle:hover {
  text-shadow: 0 0 20px hsl(355, 95%, 45%);
}

.nav {
  gap: 1.5rem;
  display: flex;
  font-weight: 400;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}

.nav a {
  color: white;
  text-decoration: none;
  transition: padding-bottom 0.1s ease-in, color 0.3s ease-in, text-shadow 0.3s ease-in;
}

.nav a:hover:not(.active) {
  padding-bottom: 0.25rem;
  color: hsl(355, 95%, 45%);
  text-shadow: 0 0 20px hsl(355, 95%, 45%);
}

.nav a.active {
  color: hsl(355, 95%, 45%);
}

@media (max-width: 768px) {
  .header {
    padding: 0.75rem 1.5rem;
  }

  .logo {
    height: 40px;
  }

  .logoTitle {
    font-size: 1.25rem;
    margin-left: 0.25rem;
  }

  .nav {
    gap: 1rem;
    font-size: 1.15rem;
  }
}

@media (max-width: 550px) {
  .container {
    gap: 0.35rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    height: 25px;
  }

  .logoTitle {
    font-size: 1.15rem;
    margin-left: 0.15rem;
  }

  .nav {
    gap: 0.75rem;
    font-size: 1rem;
  }

  .nav a:hover:not(.active) {
    padding-bottom: 0rem;
  }
}
