footer {
  padding: 2rem;
  color: white;
  background-color: black;
  box-shadow: 0 0 20px hsla(54, 100%, 50%, 0.5);
}

footer .container {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footerLinks {
  gap: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
}

.footerLinks a {
  transition: 0.3s ease;
}

.footerLinks a:hover {
  color: hsl(54, 100%, 50%);
  text-shadow: 0px 0px 20px hsl(54, 100%, 50%);
}

.footerDescription {
  font-size: 1rem;
  max-width: 800px;
  margin-bottom: 1rem;
  color: hsl(0, 0%, 50%);
}

.footerCopyright {
  color: white;
  font-size: 1rem;
}
