footer {
  padding: 1.5rem;
  color: white;
  background-color: black;
  box-shadow: 0 0 20px hsla(0, 0%, 100%, 0.2);
}

footer .container {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footerLinks {
  gap: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
}

.footerLinks a {
  transition: 0.3s ease-in;
}

.footerLinks a:hover {
  color: hsl(54, 100%, 50%);
  text-shadow: 0px 0px 20px hsl(54, 100%, 50%);
}

.footerDescription {
  font-size: 1rem;
  max-width: 800px;
  margin-bottom: 1rem;
  color: hsl(0, 0%, 50%);
}

.footerCopyright {
  color: white;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 1.5rem;
  }

  .footerLinks {
    gap: 1rem;
    font-size: 1rem;
  }

  .footerDescription {
    font-size: 0.85rem;
  }

  .footerCopyright {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 480px) {
  footer {
    padding: 1rem;
  }

  .footerLinks {
    gap: 0.75rem;
    font-size: 0.85rem;
  }

  .footerDescription {
    font-size: 0.75rem;
  }

  .footerCopyright {
    font-size: 0.75rem;
  }
}
