.topIMDBCard {
  height: 100%;
  display: flex;
  overflow: hidden;
  min-height: 600px;
  border-radius: 5px;
  flex-direction: column;
  transition: 0.3s ease-in;
  justify-content: space-between;
  background-color: hsl(0, 0%, 5%);
  box-shadow: 0 0 20px hsla(0, 0%, 100%, 0.1);
}

.topIMDBCard:hover {
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0 0 20px hsla(0, 0%, 100%, 0.2);
}

.topIMDBCard img {
  width: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: 2 / 3;
}

.topIMDBCardContent {
  flex-grow: 1;
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.topIMDBTitle {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.topIMDBMeta {
  gap: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.topIMDBYear,
.topIMDBRating,
.topIMDBLength {
  font-weight: 400;
  font-size: 1.15rem;
  color: hsl(0, 0%, 90%);
}

.topIMDBRating {
  padding: 2px 8px;
  border-radius: 5px;
  border: 1px solid hsl(355, 95%, 45%);
}

.topIMDBGenre {
  font-weight: 500;
  font-size: 1.15rem;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  margin-bottom: 0.5rem;
  color: hsl(0, 0%, 90%);
}

.topIMDBDescription {
  line-clamp: 5;
  overflow: hidden;
  max-height: 6.5em;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
  color: hsl(0, 0%, 90%);
  -webkit-box-orient: vertical;
}

.audienceScore {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.75rem;
  letter-spacing: 0.03em;
  color: hsl(355, 95%, 45%);
}
